@model ASP.MVC_2017.Models.IndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>@User.Identity.Name</h2>
    
        <p>Дата регистрации: @Html.DisplayFor(modelItem => Model.RegistrationDate) </p>
        <p>Количество созданных стен: @Html.DisplayFor(modelItem => Model.NumberOfWalls)</p>
        <p>Количество комментариев: @Html.DisplayFor(modelItem => Model.NumberOfComments)</p>

<br />
