@model ASP.MVC_2017.Models.IndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Пользователь @User.Identity.Name</h2>
  <table class="table table-striped">
      <tr>
          <td>Дата регистрации:</td>
          <td>@Html.DisplayFor(modelItem => Model.RegistrationDate)</td>
      </tr>
      <tr>
          <td>
              Количество созданных стен:
          </td>
          <td>
              @Html.DisplayFor(modelItem => Model.NumberOfWalls)
          </td>
      </tr>
      <tr>
          <td>
              Количество комментариев: 
          </td>
          <td>
              @Html.DisplayFor(modelItem => Model.NumberOfComments)
          </td>
      </tr>
  </table>

<br />
