@using ASP.MVC_2017.Models.Entities
@model IEnumerable<Report>

@{
    ViewBag.Title = "Index";
}

<h2>Жалобы</h2>
<table class="table table-striped">
    @foreach (var report in Model)
    {
        <tr>
            <td>@Html.DisplayFor(c => report.Comment.Value)</td>
            <td>@Html.DisplayFor(r => report.Text)</td>
            <td>@Html.DisplayFor(r => report.Date)</td>
            <td>@Html.DisplayFor(r => report.User.UserName)</td>
            <br>
        </tr>
    }
</table>
