@{
    ViewBag.Title = "AddWall";
}

<div class="row">

    @using (Html.BeginForm("CreateWall", "Wall", FormMethod.Post))
    {
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h2>Добавить стену</h2>

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Введите заголовок: </label>
                        <input type="text" name="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Введите текст: </label>
                        <textarea name="Text" class="form-control"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Сохранить" />
                </div>
            </div>

        </div>


    }

</div>